.root {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}
.showHidePass {
  position: absolute;
  top: 33px;
  right: 15px;
  z-index: 2;
}
.showHideApprove {
  position: absolute;
  top: 33px;
  right: 45px;
}
