.root{
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}
.showHidePass {
    position: absolute;
    top: 20px;
    right: 15px;
}
.showHideApprove{
    position: absolute;
    top: 20px;
    right: 45px;
}